<%= form_for @folder do |f| %>
  <%= @folder.errors.full_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
   <%= f.hidden_field :parent_id %> 
  <p><%= f.submit "create folder"%></p>
<% end %>
