<ul class="nav nav-list">
        <li class="nav-header"><%= link_to "Upload", '#'%></li>
        <li class="nav-header"><%= link_to "Files", '#'%></li>
        <li class="nav-header"><%= link_to "Folders", '#'%></li>
        <li class="nav-header"><%= link_to "Sharing", '#'%></li>
        <li class="nav-header"><%= link_to "Key", '#'%></li>
</ul>