
  	<% if user_signed_in? %>
  		<div class="container">
  		<% @users.each do |user| %>
  			<div class="row">
  				<div class="span2">
  				</div>
  				<div class="span8">
  					<div class="row">
  						<h2 class="pull-left"><%= link_to user.name, '#' %></h2>
  					</div>
  				</div>
  			</div>
  	<% end %>
  		</div>

  	<% else %>
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#1" data-toggle="tab">home</a></li>
          <li><a href="#2" data-toggle="tab">surprise me!</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="1">
            <div class="container">
              <div class="row-fluid">
                <div class="span3">
                  <%= image_tag("static_image_1.jpg")%>
                </div>
                <div class="span3">
                  <%= image_tag("static_image_2.jpg")%>
                </div>
                <div class="span3">
                  <%= image_tag("static_image_3.jpg")%>
                </div>
                <div class="span3">
                  <%= image_tag("static_image_4.jpg")%>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="2">
            <h2>surprise! surprise! surprise!</h2>
            <p align="center">...its is on its way!</p>
          </div>
        </div>
      </div>       
  	<% end %>

<% unless user_signed_in? %>
  <div class="center hero-unit">      
    <h2>all your data | made simple | in your control</h2>  
  </div>
<% end %>  




       


