
<% if user_signed_in? %>
  <%= render :partial => "breadcrumbs" %>
  
  <% if @current_folder %>
    <% if (@current_folder.assets.size > 0 || @current_folder.children.size > 0) %>
    <div class="container center">
      <div id="share"%>
        <%= link_to "share folder", "javascript:void(0)", onclick: "ShareFolder()", class: "btn btn-small btn-primary" %>
      </div>

      <div class="well", id="share_form", style="display:none;">
        <%= render 'shared/share_form' %>
        <%= link_to "cancel", "javascript:void(0)", onclick: "CancelShare()" %>
      </div>
    </div>
    <% end %>
      <div class="container center">
        <div class="well">
        <p>Your folder "<%= @current_folder.name %>" is empty. Upload some files or create a sub-folder!</p>
        </div>

      </div>
    

  <% end %>
  

  
  

<div class="container">
<% @being_shared_folders.each do |folder| %>  
    <div class="row">
      <div class="span2">
        <%= image_tag("asset_tn/shared_folder_others.png")%>
      </div>
      <div class="span10">
        <div class="row">  
          <h2 class="pull-left">
            <%= link_to folder.name.downcase, browse_path(folder) %>
          </h2>
        </div>
        <div class="row">  
          <p>shared by <%= link_to folder.user.name.downcase, '#' %></p>
        </div>
      </div>
    </div>
    <hr />  
<% end %>
</div>

   
  <div class="container">
  <% @folders.each do |folder| %>  
    <div class="row">
      <div class="span2">
      <% if folder.shared? %>
        <%= image_tag("asset_tn/shared_folder.png")%>
      <% else %>
        <%= image_tag("asset_tn/folder.png")%>
      <% end %>
      </div>
      <div class="span10">
        <div class="row">  
          <h2 class="pull-left">
            <%= link_to folder.name.downcase, browse_path(folder) %>
          </h2>
        </div>
      </div>
    </div>
    <hr />  
  <% end %> 
  </div>
  <div class="container">
    <% @assets.each do |asset| %>
      <div class="row">
        <div class="span2">
          <%= image_tag("asset_tn/#{asset_type(asset.file_name)}.jpg") %>
        </div>
        <div class="span10">
          <div class="row">
            <h2 class="pull-left">
            <%= link_to pretty_file_name(asset.file_name), '#' %>
            </h2>
          </div>
          <div class="row">
            <%= number_to_human_size(asset.file_size, precision: 2) %> | <%= asset.created_at.in_time_zone("New Delhi")%>
          </div>
          <div class="row">
            <%= link_to "download", download_url(asset) %> | <%= link_to "delete", asset_path(asset), method: :delete%>
          </div>  
        </div>
      </div>
      <hr />
    <% end %>
  </div>

  <% unless @is_this_folder_being_shared %>
  <div class="container center">
    <% if @current_folder %>
      <%= link_to "upload a file", new_sub_file_path(@current_folder), class: "btn btn-small btn-primary"%>
      <%= link_to "new folder", new_sub_folder_path(@current_folder), class: "btn btn-small btn-primary" %>
    <% else %>
      <%= link_to "upload a file", new_asset_path, class: "btn btn-small btn-primary"%>
      <%= link_to "new folder", new_folder_path, class: "btn btn-small btn-primary" %>
    <% end %>
  </div>
<% else %>  
    <h3>This folder is being shared to you by <%= @current_folder.user.name %></h3>  
<% end %> 


      
<% else %>
  <div class="tab-pane active" id="_home_tab">
    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <%= image_tag("static_image_1.jpg")%>
        </div>
        <div class="span3">
          <%= image_tag("static_image_2.jpg")%>
        </div>
        <div class="span3">
          <%= image_tag("static_image_3.jpg")%>
        </div>
        <div class="span3">
          <%= image_tag("static_image_4.jpg")%>
        </div>
      </div>
    </div>
  </div>     
<% end %>

<div class="center hero-unit">      
  <h2>all your data | made simple | in your control</h2>  
</div>

<script type="text/javascript">

function ShareFolder()
{
  var element_to_hide = "#share";
  var element_to_show = "#share_form";
  $(element_to_hide).hide();
  $(element_to_show).slideDown();
}

function CancelShare()
{
  var element_to_show = "#share";
  var element_to_hide = "#share_form";
  $(element_to_hide).hide();
  $(element_to_show).slideDown();

}



</script>