<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(@title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top">
  	<div class="navbar-inner">
  		<div class="container">
  			<%= link_to "mykey", root_path, id: "logo" %>
      		<nav>
        		<ul class="nav pull-right">
          			<% if user_signed_in? %>
            			<li id="fat-menu" class="dropdown">
              			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                			<%= current_user.name.downcase %> <b class="caret"></b>
              			</a>
              			<ul class="dropdown-menu">
                			<li><%= link_to "upload a file", new_asset_path %></li>
                			<li><%= link_to "my profile", '#' %></li>
                			<li class="divider"></li>
                			<li>
                  				<%= link_to "sign out", destroy_user_session_path, method: :delete %>
                			</li>
              			</ul>
            			</li>
          			<% else %>
            			<li id="fat-menu" class="dropdown">
              			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                			<%= "get started" %> <b class="caret"></b>
              			</a>
              			<ul class="dropdown-menu">
                			<li><%= link_to "sign in", new_user_session_path %></li>
                			<li><%= link_to "sign up", new_user_registration_path %></li>
              			</ul>
            			</li>
          			<% end %>
        		</ul>
      		</nav>
      	</div>
    </div>
</header>
  <div class="container-float">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
